{% extends "base.html" %}

{% block content %}

  <div class='row'>
        <div class='col-12 col-md-6'>
            <h1>{{ object.title }}</h1>
            <h3>{{ "some title here"|title}}</h3>
            {{ object.timestamp|date }} <br />
            {{ object.timestamp|timesince }} ago <br /><br />
            {{ object.description|linebreaks }} <br />
            {% if object.image %}
              <img src='{{ object.image.url }}' class='img-fluid' />
            {% endif %}
        </div>
        <div class='col-12 col-md-6'>
            {% include 'products_old/snippets/update-cart.html' with product=object cart=cart %}
        </div>
  </div>


{% endblock %}
