{# <form method="GET" action='{% url "amazon_products:query" %}' class="form my-2 my-lg-0"> #}
<form method="GET" action='{% url "ebay_products:query" %}' class="form my-2 my-lg-0">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
    <span class="input-group-btn">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </span>
  </div>
</form>
