{% url 'ebay_products:detail' instance.itemId as product_url %}
<!--<div class="item col-xl col-lg">-->
    <div class="item col-xl-4 col-lg-4">
    <div class="thumbnail clearfix">
        {% if instance.galleryURL %}
        <div class="img-card">
            <a href="{{ product_url }}">
                <img src="{{ instance.galleryURL }}" alt="{{ instance.title }}">
            </a>
        </div>
        {% endif %}
        <div class="caption">
            <a href="{{ product_url }}" class="title">
                <h4>{{ instance.title|truncatewords:30 }}</h4>
            </a>
            <div class="caption-text">
                <p> {{ instance.condition.conditionDisplayName }}</p>
                <p class="price-buy-spacing">${{ instance.sellingStatus.convertedCurrentPrice }}</p>
            </div>
        </div>
    </div>
</div>
<!--