

<section class="section-content padding-y-sm bg">
<div class="container">

<header class="section-heading heading-line">
  {# <h4 class="title-section bg">COMPUTERS</h4> #}
  <h4 class="title-section bg">{{ category_name}}</h4>
</header>

<div class="card">
<div class="row no-gutters">
  <div class="col-md-3">
  
<article href="#" class="card-banner h-100 bg2">
  <div class="card-body zoom-wrap">
    <h5 class="title">Machinery items for manufacturers</h5>
    <p>Consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, c</p>
    <a href="#" class="btn btn-warning">Explore</a>
    <img src="images/items/item-sm.png" height="200" class="img-bg zoom-in">
  </div>
</article>
  </div> <!-- col.// -->
  <div class="col-md-9">
<ul class="row no-gutters border-cols">

{% for obj in object_list %}
{% url 'ebay_products:detail' obj.itemId as product_url %}
  <li class="col-6 col-md-3">
      <a href="{{ product_url }}" class="itembox"> 
        <div class="card-body">
          <p class="card-title">{{obj.title|truncatewords:10 }}</p>
          <img class="card-img" src="{{ obj.galleryURL }}">
        </div>
      </a>
  </li>
{% endfor %}
</ul>
  </div> <!-- col.// -->
</div> <!-- row.// -->
  
</div> <!-- card.// -->

</div> <!-- container .//  -->
</section>