{% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<!-- <link rel="stylesheet" href="{% static "css/gallery.css" %}"> -->
<link rel="stylesheet" href="{% static 'css/fotorama.css' %}">

<!-- jquery-confirm css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<!-- Custom Stripe Styling -->
<link rel="stylesheet" href="{% static 'css/stripe-custom-style.css' %}">


<!-- Bootstrap-ecommerce stuff -->

<link rel="shortcut icon" type="image/x-icon" href='{% static "css/btsp_ecom/images/favicon.ico" %}'>

<!-- Bootstrap4 files-->
<script src="{% static 'js/btsp_ecom/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/btsp_ecom/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href='{% static "css/btsp_ecom/fonts/fontawesome/css/fontawesome-all.min.css" %}' type="text/css" rel="stylesheet">

<!-- plugin: owl carousel  -->
<link href='{% static "css/btsp_ecom/plugins/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
<link href='{% static "css/btsp_ecom/plugins/owlcarousel/assets/owl.theme.default.css" %}' rel="stylesheet">

<!-- custom style -->
<link href='{% static "css/btsp_ecom/css/ui.css" %}' rel="stylesheet" type="text/css"/>

<link href='{% static "css/btsp_ecom/css/responsive.css" %}' rel="stylesheet" media="only screen and (max-width: 1200px)"/>

<!-- Custom OWN shoppy style -->
<link href='{% static "css/main2.css" %}' rel="stylesheet" type="text/css"/>
<link href='{% static "css/dao.css" %}' rel="stylesheet" type="text/css"/>
