{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- <script src="{% static "js/gallery-zoom-image.js" %}"></script>
<script src="{% static "js/gallery.js" %}"></script> -->

<script src="{% static 'js/fotorama.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>


<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>

<!-- jquery confirm JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- js Render -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js'></script>
{% include 'base/js_templates.html' %}

<!-- Chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>

<!-- Django Secure AJAX JS -->
<script src="{% static 'js/csrf.ajax.js' %}" type="text/javascript"></script>

<!-- shoppy Sales Data JS - only for staff -->
<script src="{% static 'js/shoppy.sales.js' %}" type="text/javascript"></script>

<!-- shoppy custom JS -->
<script src="{% static 'js/shoppy.js' %}" type="text/javascript"></script>

<!-- shoppy Main JS, mainly billing related Stripe -->
<script src="{% static 'js/shoppy.main.js' %}" type="text/javascript"></script>

<!-- Vue js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Vue resource -->
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1" type="text/javascript"></script>

<!-- Vue scripts JS -->
<!--<script src='{% static "js/shoppy_vue.js" %}' type="text/javascript"></script> -->

<!-- Bootstrap-ecommerce stuff -->

<!-- jQuery -->
<script src="{% static 'js/btsp_ecom/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

<!-- plugin: owl carousel  -->
<script src="{% static 'css/btsp_ecom/plugins/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/btsp_ecom/plugins/slickslider/slick.min.js' %}" type="text/javascript"></script>

<!-- custom javascript -->
<script src="{% static 'js/btsp_ecom/js/script.js' %}" type="text/javascript"></script>



