{% verbatim %}
<!-- Stripe template form -->
<script id="stripeTemplate" type="text/x-jsrender">

<form class='payment-form' action="" method="post" id="payment-form" data-token='{{:publishKey}}' data-next-url='{{:nextUrl}}'>
  <div class="form-row">
<!--     <label for="card-element">
      Credit or debit card
    </label> -->
    <div id="card-element" class='form-control'>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button class='btn btn-primary my-3 btn-load'>{{:btnTitle}}</button>
</form>

</script>
{% endverbatim %}