{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products_old:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'cart:home' as cart_url %}
{% url 'register' as register_url %}
{% url 'account:home' as account_url %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{# Bootstrap-ecommerce templating #}

<header class="section-header my-header">


<section class="header-main shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ home_url }}">
    {% if brand_name %} {{ brand_name }} {% else %} GoBazar {% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTop">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == home_url %}active{% endif %}">
          <a href="{{ home_url }}" class="nav-link" >{% trans 'Home' %}</a>
        </li>
        <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
          <a href="{{ contact_url }}" class="nav-link" >{% trans 'Contact' %}</a>
        </li>
        <li class="nav-item {% if request.path == product_list_url %}active{% endif %}">
          <a href="{{ product_list_url }}" class="nav-link" >{% trans 'Products' %}</a>
        </li>
        <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sourcing</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Top  Suppliers</a></li>
                <li><a class="dropdown-item" href="#">Suppliers by Regions </a></li>
                <li><a class="dropdown-item" href="#">Online Retailer  </a></li>
            </ul>
        </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Services </a>
        <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Trade Assurance</a></li>
                  <li><a class="dropdown-item" href="#">Arabic</a></li>
                  <li><a class="dropdown-item" href="#">Logistics Service </a></li>
                  <li><a class="dropdown-item" href="#">Membership Services</a></li>
            </ul>
        </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownCommunity" aria-haspopup="true" aria-expanded="false">
        Community
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownCommunity">
              <li><a class="dropdown-item" href="#">Help Center</a></li>
              <li><a class="dropdown-item" href="#">Submit a Dispute </a></li>
              <li><a class="dropdown-item" href="#">For Suppliers </a></li>
            </ul>
        </li>

      </ul>



      <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Account' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">{% trans 'Home' %}</a>
              <a class="dropdown-item" href="#">{% trans 'Another action' %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ logout_url }}">{% trans 'Logout' %}</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item {% if request.path == register_url %}active{% endif %}">
            <a class="nav-link btn btn-default" href="{{ register_url }}">{% trans 'Register' %}</a>
          </li>
          <li class="nav-item {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link btn btn-default" href="{{ login_url }}">{% trans 'Login' %}</a>
          </li>
          {% endif %}
       
          <li class="nav-item">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">

                <ul class="languagepicker roundborders large">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  <!-- {% for language in languages %}
                    <a href="#en" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      <li>
                        <img src="http://i64.tinypic.com/fd60km.png"/>
                          {{ language.name_local }} ({{ language.code }})
                      </li>
                    </a>
                  {% endfor %} -->
                </ul>
             </form>
          </li> 
  
      </ul>



    
    </div>
  </div>
</nav>
      <div class="row-sm justify-content-between align-items-center">
        <div class="col-lg-3-24 col-sm-3">
          <div class="category-wrap dropdown py-1">
            <a href="#" class="btn btn-light dropdown" data-toggle="dropdown" id="dropdownCategories">
              <i class="fa fa-bars"></i> Categories</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col d-flex flex-direction-row align-items-center">
                   <div class="card">
                        <div class="card-body">
                          <a class="dropdown-item" href="#">Machinery  </a>
                          <a class="dropdown-item" href="#">Consumer Elec</a>
                          <a class="dropdown-item" href="#">Auto / Transportation</a>
                          <a class="dropdown-item" href="#">Appar </a>
                          <a class="dropdown-item" href="#">Home & Gard </a>
                          <a class="dropdown-item" href="#">Beaut </a> 
                        </div>
                        <div class="card-footer">
                            <span>
                              <a href="#">All Categories</a>
                            </span>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <a class="dropdown-item" href="#">Machinery  </a>
                          <a class="dropdown-item" href="#">Consumer Elec</a>
                          <a class="dropdown-item" href="#">Auto / Transportation</a>
                          <a class="dropdown-item" href="#">Appar </a>
                          <a class="dropdown-item" href="#">Home & Gard </a>
                          <a class="dropdown-item" href="#">Beaut </a> 
                        </div>
                        <div class="card-footer">
                            <span>
                              <a href="#">|</a>
                            </span>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <a class="dropdown-item" href="#">Machinery  </a>
                          <a class="dropdown-item" href="#">Consumer Elec</a>
                          <a class="dropdown-item" href="#">Auto / Transportation</a>
                          <a class="dropdown-item" href="#">Appar </a>
                          <a class="dropdown-item" href="#">Home & Gard </a>
                          <a class="dropdown-item" href="#">Beaut </a> 
                        </div>
                        <div class="card-footer">
                            <span>
                              <a href="#">All Categories</a>
                            </span>
                        </div>
                      </div>
                </div>

              </div>
            </div>
          </div> 
        </div>
        <div class="col-lg-14-24 col-sm-8">
        <form method="GET" action='{% url "ebay_products:query" %}' class="py-1">
              <div class="input-group w-100">
                
                  <input type="text" name='q' class="form-control" style="width:60%;" placeholder="Search" value='{{ request.GET.q }}'>
                  <select class="custom-select" name="category_name" style="overflow-y: auto">
                      <option value="">All type</option>
                      <option value="">Special</option>
                      <option value="">Only best</option>
                      <option value="">Latest</option>
                   </select>
                  <div class="input-group-append">
                    <button class="btn btn-warning" type="submit">
                      <i class="fa fa-search"></i> Search 
                    </button>
                  </div>
                </div>
            </form>
        </div> 
        <div class="col-lg-7-24 col-sm-12">
          <div class="widgets-wrap float-right row no-gutters py-1"
              style="align-items: center;justify-content: center;display: flex;">
            <div class="col-auto">
              <a href="{{ cart_url }}" class="widget-header">
                <div class="icontext">
                  <div class="icon-wrap">
                      <span class='navbar-cart-count'>{{request.session.cart_items}}</span><i class="text-warning icon-sm fa fa-shopping-cart"></i>
                  </div>
                </div>
              </a>
            </div>
            <!-- <div class="col-auto">
              <a href="#" class="widget-header">
                <div class="icontext">
                  <div class="icon-wrap">
                      <i class="text-warning icon-sm  fa fa-heart"></i>
                  </div>
                  <div class="text-wrap text-dark">
                    <span class="small round badge badge-secondary">0</span>
                    <div>Favorites</div>
                  </div>
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </div>
  </div>
</section> 
</header> 