<div class="card" style="width: 18rem;">
  {% if instance.image %}
  <a href="{{ instance.get_absolute_url }}">
      <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
  </a>
  {% endif %}
  <div class="card-body">
      <h5 class="card-title">{{ instance.title }}</h5>
      <p class="card-text">{{ instance.description|truncatewords:12 }}</p>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
      {% include 'products_old/snippets/update-cart.html' with product=instance cart=cart %}
      <!-- <a href="{% url 'products_old:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a> -->
  </div>
</div>
