{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>List of Products
          <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">ADD PRODUCT</button>
          </h1>
          &emsp;
          <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search_term" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getProducts()">Search</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Heading</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products">
                <th scope="row">[[product.asin]]</th>
                <td>[[product.title]]</td>
                <td>
                  <button class="btn btn-info" v-on:click="getProduct(product.id)">Edit</button>
                  <button class="btn btn-danger" v-on:click="deleteProduct(product.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Add Product Modal -->
          <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">ADD PRODUCT</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addProduct()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Enter title" v-model="newProduct.title" required="required" >
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" placeholder="Enter description" v-model="newProduct.description" required="required" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
          <!-- End of add product modal -->
          <!-- Edit Product Modal -->
          <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">EDIT PRODUCT</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="updateProduct()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Enter title" v-model="currentProduct.title" required="required" >
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" placeholder="Enter Product Body" v-model="currentProduct.description" required="required" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
          <!-- End of edit product modal -->

        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>

    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script type="text/javascript">
Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
const starting = new Vue({
   el: '#starting',
   delimiters: ['[[',']]'],
   data: {
   products: [],
   loading: false,
   currentProduct: {},
   message: null,
   newProduct: {'title': null, 'asin': null, 'shop': null, 'description': null, 'price': null},
 },
 mounted: function() {
 	this.getProducts();
},
 methods: {
 getProducts: function() {
  this.loading = true;
  this.$http.get('/api/ebayproduct/')
      .then((response) => {
        this.products = response.data;
        this.loading = false;
      })
      .catch((err) => {
       this.loading = false;
       console.log(err);
      })
 },
 getProduct: function(id) {
  this.loading = true;
  this.$http.get('/api/ebayproduct/[[id]]/')
      .then((response) => {
        this.currentProduct = response.data;
        $("#editProductModal").modal('show');
        this.loading = false;
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 addProduct: function() {
  this.loading = true;
  this.$http.post('/api/ebayproduct/',this.newProduct)
      .then((response) => {
        this.loading = false;
        this.getProducts();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 updateProduct: function() {
  this.loading = true;
  this.$http.put('/api/ebayproduct/[[this.currentProduct.id]]/',     this.currentProduct)
      .then((response) => {
        this.loading = false;
        this.currentProduct = response.data;
        this.getProducts();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 deleteProduct: function(id) {
  this.loading = true;
  this.$http.delete('/api/ebayproduct/[[id]]/' )
      .then((response) => {
        this.loading = false;
        this.getProducts();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
}
 }});
 </script>


{% endblock %}