<div id="starting">

<table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heading</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
	    <tr v-for="product in products">
	        <th scope="row">[[product.asin]]</th>
	        <td>[[product.title]]</td>
        </tr>
    </tbody>
</table>

<form type="post" v-on:submit.prevent="addProduct()">
	<label for="title">Title</label>
	<input type="text" v-model="newProduct.title">
	<label for="asin">ASIN</label>
	<input type="text" v-model="newProduct.asin">
	<!-- <label for="shop">Shop</label>
	<input type="text" v-model="newProduct.shop"> -->
	<label for="description">Description</label>
	<textarea type="text" v-model="newProduct.description"></textarea>
	<label for="price">Price</label>
	<input type="text" v-model="newProduct.price">
	<button type="submit">Add Product</button>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script type="text/javascript">
Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
const starting = new Vue ({
	el:'#starting',
	delimiters: ['[[',']]'],
	data: {
		products: [],
		checkedNames:[],
		newProduct: {'title': null, 'asin': null, 'shop': null, 'description': null, 'price': null}
	// 	newProduct: {'title': null, 'asin': null, 'description': null, 'price': null, 
	// 				'shop': 2,
	// 				'attribute': [1, 2]
	},
	mounted: function() {
		this.getProducts();
	},
	methods: {
		getProducts: function() {
			this.$http.get('/api/ebayproduct/')
				.then((response) =>{
					this.products = response.data;
					this.products_test = response.data;
				})
				.catch((err) =>{
					console.log(err);
				})
		},
		addProduct: function() {
			this.$http.post('/api/ebayproduct/', this.newProduct)
				.then((response) =>{
					this.getProducts();
				})
				.catch((err) => {
					console.log(err)
				})
		},
	}
});
</script>

