{% extends 'base.html' %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/images.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="{% static 'js/images.js' %}"></script>
{% endblock %}

{% block content %}
<style>

    #app .grid-group-wrapper.row {
        display: flex;
        flex-wrap: wrap;
    }

    #app .grid-group-wrapper.row .thumbnail {
        width: 300px;
        height: 270px;
        border: 1px solid #cccccc;
        padding: 10px;
    }

    #app .grid-group-wrapper.row .price-buy-spacing {
        display: flex;
        justify-content: space-between;
    }

    #app .grid-group-wrapper.row .price-buy-spacing .lead {
        margin: 10px;
    }

    #app .grid-group-wrapper.row .price-buy-spacing {
        margin-bottom: 10px;
    }

    #app .list-group-wrapper .item {
        float: none;
        width: 100%;
    }

    #app .list-group-wrapper .item:after {
        clear: both;
    }

    #app .list-group-wrapper .item .thumbnail img {
        float: left;
        margin-right: 10px;
    }

    #app .item .thumbnail .img-card img {
        width: auto;
    }


    #app .list-group-wrapper .item .caption,
    #app .list-group-wrapper .item .thumbnail {
    }

    #app .row {
        display: table;
    }

    #app .list-group-wrapper .item .thumbnail {
        width: 800px;
        height: 200px;
        border: 1px solid #cccccc;
        padding: 10px;
    }

    #app .list-group-wrapper .item .caption {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #app .item .caption-text {
        font-weight: bold;
        font-size: 20px;
        margin: 10px;
    }

    #app {
        background-color: #fefefe;
    }

</style>

<div class="row">
    <div class="col-3 mt-5">
        <aside>
            <div class="card card-filter">
                <article class="card-group-item">
                    <header class="card-header" id="header_one">
                        <a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
                            <i class="icon-action fa fa-chevron-down"></i>
                            <h6 class="title">By Category</h6>
                        </a>
                    </header>
                    <div style="" class="filter-content collapse show" id="collapse22">
                        <div class="card-body">
                            <form class="pb-3">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <ul class="list-unstyled list-lg">
                                <li><a href="#">Cras justo odio <span
                                        class="float-right badge badge-light round">142</span> </a></li>
                                <li><a href="#">Dapibus ac facilisis <span
                                        class="float-right badge badge-light round">3</span> </a></li>
                                <li><a href="#">Morbi leo risus <span
                                        class="float-right badge badge-light round">32</span> </a></li>
                                <li><a href="#">Another item <span class="float-right badge badge-light round">12</span>
                                </a></li>
                            </ul>
                        </div> <!-- card-body.// -->
                    </div> <!-- collapse .// -->
                </article>
                <article class="card-group-item">
                    <header class="card-header" id="header_two">
                        <a href="#" data-toggle="collapse" data-target="#collapse33">
                            <i class="icon-action fa fa-chevron-down"></i>
                            <h6 class="title">By Price </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse33">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-outline-primary">Apply</button>
                        </div> <!-- card-body.// -->
                    </div> <!-- collapse .// -->
                </article>
                <article class="card-group-item">
                    <header class="card-header" id="header_three">
                        <a href="#" data-toggle="collapse" data-target="#collapse44">
                            <i class="icon-action fa fa-chevron-down"></i>
                            <h6 class="title">By Feature </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse44">
                        <div class="card-body">
                            <form>
                                <label class="form-check">
                                    <input class="form-check-input" value="" type="checkbox">
                                    <span class="form-check-label">
                                        <span class="float-right badge badge-light round">5</span>
                                        Samsung
                                      </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" value="" type="checkbox">
                                    <span class="form-check-label">
                                        <span class="float-right badge badge-light round">13</span>
                                        Mersedes Benz
                                      </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" value="" type="checkbox">
                                    <span class="form-check-label">
                                        <span class="float-right badge badge-light round">12</span>
                                        Nissan Altima
                                      </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" value="" type="checkbox">
                                    <span class="form-check-label">
                                        <span class="float-right badge badge-light round">32</span>
                                        Another Brand
                                      </span>
                                </label>  <!-- form-check.// -->
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- collapse .// -->
                </article>
            </div>
        </aside>
    </div>
    <div id="app" class="col-9">
        <div class="well well-sm mt-3 text-right">
            <div class="btn-group">
                <a href="#" id="grid" @click="gridWrapper" title="Grid view" class="btn btn-default btn-sm">
                    <i class="fa fa-th mr-1"></i>Grid</a>
                <a href="#" id="list" @click="listWrapper" title="List view" class="btn btn-default btn-sm">
                    <i class="fa fa-bars mr-1"></i>List</a>
            </div>
        </div>
        <div id="products" :class="groupWrapper" class="row mt-3">
            {% for obj in object_list %}
            {% include 'ebay_products/snippets/card.html' with instance=obj %}
            {% endfor %}
        </div>
    </div>
</div>

<!--
{# <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
 #}
 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {groupWrapper: 'grid-group-wrapper'},
        methods: {
            listWrapper: function () {
                this.groupWrapper = 'list-group-wrapper'
            },
            gridWrapper: function () {
                this.groupWrapper = 'grid-group-wrapper'
            }
        }
    })
</script>
{% endblock %}
