<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
            margin: 0 auto;
            display: flex;
            padding: 0;
            position: relative;
            box-sizing: border-box;
            background: #e234;
            overflow-x: hidden;
        }

        .layer {
            transition: height 0.5s;
        }


        img {
            width:100%;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="sample">
        <section v-cloak v-if="(errored & loading)">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
        <section v-else>
            <hr>
            <div v-if="loading">Loading...</div>
            <div v-else class="row">

                <div class="col col-sm-6">
                    <table class="table table-bordered">
                        <tr>
                            <th v-for="(item, key, index) in attributeNameValues"> [[ key ]] </th>
                        </tr>
                        <tr>
                            <td v-for="(items, key, index) in attributeNameValues">
                                <select class="form-control" v-model="selected[key]">
                                    <option v-for="name in items"> [[ name ]] </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span v-if="countSelectedAttributes == countTotalAttributes"> [[ priceCalculated ]]</span></td>
                            <td>
                                <img v-if="countSelectedAttributes > 0" :src="pictureURL">
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning" @click="addProduct()">Add to Cart</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    const appvar = new Vue({
        delimiters: ['[[',']]'],
        el: '.sample',
        data: {
            selected: {},
            picSelectedURL: "",
            variations : [],
            variation_pictures: [],
            errored: false,
            loading: true,
            productAdded: {
                "title": "Nike Trainers Air Maxxx",
                "asin": "7",
                "price": "99.99",
                "shop": {
                    "name": "eBay UK",
                    "website": "https://ebay.co.uk"
                },
                "attributes": [
                    {
                        "attribute": {
                            "name": "color",
                            "description": ""
                        },
                        "value": "black"
                    },
                    {
                        "attribute": {
                            "name": "size",
                            "description": ""
                        },
                        "value": "8"
                    }
                ]
            }
        },
        mounted () {
            this.defaultSettings();
            this.getProduct();
        },
        computed: {
            attributeNameValues() {
                var attributeObj = {}
                for (var i=0; i<=this.variations.length; i++) {
                    try { for (key in this.variations[i].attributes) {
                        if (this.variations[i].attributes.hasOwnProperty(key)) {
                            if ( attributeObj[key] ) {
                                if (attributeObj[key].indexOf(this.variations[i].attributes[key]) === -1) {
                                    attributeObj[key].push(this.variations[i].attributes[key])
                                }
                            } else {
                                attributeObj[key] = [];
                                attributeObj[key].push(this.variations[i].attributes[key]);
                            }
                        }
                    }} catch(error) {console.log(error)}
                }
                return attributeObj
            },

            countSelectedAttributes() {
                return Object.keys(this.selected).length
            },

            countTotalAttributes() {
                return Object.keys(this.attributeNameValues).length
            },

            priceCalculated() {

                var price_selected = ""
                for (var i=0; i<=this.variations.length; i++) {
                    try {
                        for (key in this.variations[i].attributes) {
                            if (this.variations[i].attributes.hasOwnProperty(key)) {
                                // It is assumed the order of attribute names will be the same if unexpected happens change the code where two objects are compared JSON.stringify is not good enough.
                                if (JSON.stringify(this.variations[i].attributes) === JSON.stringify(this.selected)) {
                                    if (this.variations[i].quantity > 0) {
                                        price_selected = this.variations[i].price
                                        return price_selected;
                                    } else {
                                        price_selected = "Out of stock"
                                    }
                                } else { // if multiple attributes are not in API, hence do not match, seller may not have quantity zero for all matching attributes
                                    price_selected = "Out of stock"
                                }
                            }
                        }} catch(error) {
                        console.log(error)
                    }
                }

                return price_selected
            },

            pictureURL() {
                var pic_sel_url = "";
                this.variation_pictures.forEach((pic) => {
                    for (key in this.selected) {
                        if (this.selected.hasOwnProperty(key)) {
                            if (pic.value == this.selected[key]) {
                                pic_sel_url = pic.url
                            }
                        }
                    }
                })
                return pic_sel_url
            }

        },
        methods: {
            getProduct() {
                axios
                    .get("/ebay_products/api/372666602469")
                    .then(response => {
                        this.variations = response.data.variations;
                        this.variation_pictures = response.data.variation_pictures;
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)

            },
            addProduct() {
                axios
                    .post("/api/ebayproduct/",
                        this.productAdded
                    )
                    .catch(error => {
                        console.log(error)
                    })
            },

            defaultSettings() {
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
            }
        }
    });
</script>
</body>
</html>