<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
   
       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
     <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> 
    <style>
        body {
            margin: 0 auto;
            display: flex;
            padding: 0;
            position: relative;
            box-sizing: border-box;
            background: #e234;
            overflow-x: hidden;
        }

        .layer {
            transition: height 0.5s;
        }

       
        img {
            width:100%;
        }
    </style>
</head>
<body>
 
<div class="container">
    <div class="sample">
        <hr>
        <div class="row">
            <div class="col col-sm-6">
                <div class="cake">
                    <div class="layer">
                        <div class="fotorama">
                            <img
                                    v-for="(pic, index) in pictures1"
                                    :src="pic"
                                    :key="index"
                                    :alt="7">
                             </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <table class="table table-bordered">
                    <tr>
                        <th>Color</th>
                        <th>Height</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control"  
                                    v-model="selected" 
                                    @change="selected_pictures($event)">
                               <!--  <option v-for="(lt, i) in pictures">
                                    {{ lt.pictures.value}}
                                </option> -->
                                <option v-for="(lt, i) in results">
                                    {{ lt.variations.quantity}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" 
                                            v-model="changeSize"
                                            >
                                <option 
                                        v-for="(lt, i) in viewSize"
                                        >
                                            {{ lt.Size }}
                                </option>
                            </select>
                        </td>
                         <td>
                            <select class="form-control" 
                                            v-model="changeSize"
                                            >
                            </select> 
                            <span>{{ quantityT }}</span>
                        </td>
                    </tr>
                    <div class="alert alert-success price" >
                       <span class="price">
                        {{ prices }} $
                       </span>
                            <button type="button"
                                    class="btn btn-warning"
                            >
                                Order now!
                            </button>
                    </div>
                 
                        

                       </tr>
                     </table>
                   </div>

                 </div>
                 <hr>
                 <div class="alert alert-success price">
                   <span class="price">
                        {{ prices}}$
                   </span>
                   <button type="button"
                       class="btn btn-warning"
                       >
                         Order now!
                       </button>
                 </div>
               </div> 
            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://unpkg.com/vue"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script>
              
            // const url = "/ebay_products/401222389177";



              const vm = new Vue({
                  el: '.sample',
                   
                  data: {
                             results: [],
                              selected: "results.variations.attributes.Colour[]",
                              pictures1: [],
                              changeSize: "",
                              viewSize: [],
                              quantityS: [],
                              img_key: 0
                  },
                  mounted() {
                         axios.get("/ebay_products/api/401222389177").then((response) => {
                           this.results = response.data;
                           console.log(this.results);
                           
                         })
                       },
                  
                  computed: {
                      prices() {
                       let sum = 0;

                       this.results.forEach((gov) => {
                              if (gov.variations.attributes.Colour == this.selected && gov.variations.attributes.Size == this.changeSize && gov.quantity > 0){
                                   sum += gov.variations.price;
                              }
                              else if (gov.variations.attributes.Colour == this.selected && gov.variations.attributes.Size < 7 && gov.quantity < 1){ 
                                 sum += "Ups";
                           
                              }
                       });
                       return sum;
                      },
                      quantityT (){
                         let ost = 0;

                           this.results.forEach((good) => {
                                  if (good.variations.attributes.Colour == this.selected && good.variations.attributes.Size == this.changeSize ){
                                       ost += good.variations.quantity;
                                      // this.quantityS.push({
                                      //   quantityS: this.gov.quantity
                                      //  });
                                       
                                  }
                              });
                           return ost;

                      }
                       
                      
                  },
                 
                  methods: {
                      addLayer() {
                          this.layers.push({
                            
                              });
                           },
                      
                      selected_pictures() {
                          this.results.forEach((pic) => {
                              if (pic.pictures.value == this.selected) {
                                  this.pictures1 = pic.pictures.url;
                              }
                          });
                          this.viewSize = [];
                           this.results.forEach((gov) => {
                                  if (gov.variations.attributes.Colour == this.selected ){
                                      this.viewSize.push(gov.variations.attributes);
                                       
                                  }
                              });
                          
                           // console.log(this.pictures1);
                          },
                      
                          beforeMount(){
                              this.selected_pictures(),
                              this.selected_size()
                               console.log(JSON.parse(results));
                           }
                      }
                      

                  
              });
            </script>
      
</body>
</html>