<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
     <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
            margin: 0 auto;
            display: flex;
            padding: 0;
            position: relative;
            box-sizing: border-box;
            background: #e234;
            overflow-x: hidden;
        }

        .layer {
            transition: height 0.5s;
        }


        img {
            width:100%;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="sample">
        <hr>
        <div class="row"  v-cloak>
            <div class="col col-sm-6">
                <div class="cake">
                    <div class="layer">
                        <div class="fotorama">
                            <img
                                    v-for="(pic, index) in pictures1"
                                    :src="pic"
                                    :key="index"
                                    :alt="7">
                             </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <table class="table table-bordered">
                    <tr>
                        <th>Color</th>
                        <th>Height</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control"
                                    v-model="selected"
                                    @change="selected_pictures($event)">
                                <option v-for="(lt, i) in pictures">
                                    [[ lt.value ]]
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control"
                                            v-model="changeSize"
                                            >
                                <option

                                        v-for="(lt, i) in viewSize">
                                            [[ lt.Size ]]
                                </option>

                            </select>
                        </td>
                         <td>
                            <select class="form-control"
                                            v-model="changeSize"
                                            >
                                <!-- <option
                                        v-for="qt in quantityS">
                                            [[ qt ]]
                                </option> -->


                            </select>
                            <span>[[ quantityT ]]</span>
                        </td>

                        <!-- <td>
                            <select class="form-control">v-for="(lt, i)  in viewSize" :key="i"
                                <option
                                    v-for="(lt, i) in variations">
                                    [[ prices ]]
                                </option>
                            </select>
                        </td> -->
                    </tr>
                    <div class="alert alert-success price" >
                       <span class="price">
                        [[ prices ]] $
                       </span>
                            <button type="button"
                                    class="btn btn-warning"
                            >
                                Order now!
                            </button>
                    </div>
                    <!-- <div class="alert alert-success price" >

                        <span class="price">
                        [[ changeSize ]] $
                       </span>
                            <button type="button"
                                    class="btn btn-warning"
                            >
                                Order now!
                            </button>
                    </div> -->
                    <!--  <td>
                          <select class="form-control">
                            <option
                              v-for="(lt, i) in variations">
                                  [[ lt.quantity]]
                                </option>
                         </select>
                        </td> -->


                       </tr>
                     </table>
                   </div>

                 </div>
                 <hr>
                 <div class="alert alert-success price">
                   <span class="price">
                        [[ prices ]]$
                   </span>
                   <button type="button"
                       class="btn btn-warning"
                       >
                         Order now!
                       </button>
                 </div>
               </div>
            </div>
            <div>
                <p v-for="(pic, index) in pictures1"> [[ pic ]] </p>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    new Vue({
    delimiters: ['[[',']]'],
    el: '.sample',
    data: {

                selected: "variations.attributes.Colour[1]",
                pictures1: [],
                changeSize: "",
                viewSize: [],
                quantityS: [],
                img_key: 0,
                variations : [],
                pictures: []
    },

    mounted() {
      axios.get("/ebay_products/api/401222389177").then((response) => {
                           this.variations = response.data.variations;
                           this.pictures = response.data.pictures;
                         })
 },

    computed: {
        prices() {
        	let sum = 0;

        	this.variations.forEach((gov) => {
                if (gov.attributes.Colour == this.selected && gov.attributes.Size == this.changeSize && gov.quantity > 0){
                     sum += gov.price;
                }
                else if (gov.attributes.Colour == this.selected && gov.attributes.Size < 7 && gov.quantity < 1){
                   sum += "Ups";
                }
        	});
        	return sum;
        },
        quantityT (){
           let ost = 0;

             this.variations.forEach((good) => {
                    if (good.attributes.Colour == this.selected && good.attributes.Size == this.changeSize ){
                         ost += good.quantity;
                    }
                });
             return ost;

        }


    },
    methods: {
        addLayer() {
            this.layers.push({
                // selected: "Bamba - Blue",
                // pictures1: [],
                // price: "54.99",
                // size: "7",
                // img_key: 0
                });
             },
             
        selected_pictures() {
            this.pictures.forEach((pic) => {
                if (pic.value == this.selected) {
                    this.pictures1 = pic.url;
                }
            });
            this.viewSize = [];
             this.variations.forEach((gov) => {
                    if (gov.attributes.Colour == this.selected ){
                        this.viewSize.push(gov.attributes);

                    }
                });

             // console.log(this.pictures1);
            },
            beforeMount(){
                this.selected_pictures(),
                this.selected_size()
             }
        }



});


</script>

</body>
</html>