{% extends 'base.html' %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/images.css' %}">
<link rel="stylesheet" href="{% static 'css/main2.css' %}">
<script src="{% static 'js/images.js' %}"></script>

<!--Carousel features - bulma and css below-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

<style>
  .card-carousel {
    user-select: none;
    position: relative;
  }

  .progressbar {
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: rgba(221, 221, 221, 0.25);
    z-index: 1;
  }

  .progressbar>div {
    background-color: rgba(255, 255, 255, 0.52);
    height: 100%;
  }

  .thumbnails {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .thumbnail-image {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
  }

  .thumbnail-image>img {
    width: 100%;
    height: auto;
    transition: all 250ms;
  }

  .thumbnail-image:hover>img,
  .thumbnail-image.active>img {
    opacity: 0.6;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
  }

  .card-img {
    position: relative;
    margin-bottom: 15px;
  }

  .card-img>img {
    display: block;
    margin: 0 auto;
  }

  .actions {
    font-size: 1.5em;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #585858;
  }

  .actions>span {
    cursor: pointer;
    transition: all 250ms;
  }

  .actions>span.prev {
    margin-left: 5px;
  }

  .actions>span.next {
    margin-right: 5px;
  }

  .actions>span:hover {
    color: #eee;
  }
</style>

{% endblock %}
{% block content %}
<div class="container">
  <div class="sample row" v-cloak>
    <div class="col-xl-12 col-md-12 col-sm-12">
      <main class="card">
        <div class="row no-gutters">
          <!--  {# {{ object.get_attribute }} #} -->
          <aside class="col-sm-6 border-right">
            <article class="gallery-wrap">
              <section class="section">
                <!-- fotorama replaced-->
                <div class="columns">
                  <div class="column is-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-carousel">
                          <div class="card-img">
                            <img style="width:300px; max-height:400px; width:auto; height:auto; display:block;"
                              :src="currentImage" alt="">
                            <div class="actions">
                              <span @click="prevImage" class="prev">
                                <i class="fas fa-chevron-left"></i>
                              </span>
                              <span @click="nextImage" class="next">
                                <i class="fas fa-chevron-right"></i>
                              </span>
                            </div>
                          </div>
                          <div class="thumbnails">
                            <div v-for="(image, index) in pictureAllURLs" :key="image.id"
                              :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
                              @click="activateImage(index)">
                              <img style="width:100px; max-height:133px; width:auto; height:auto; display:block;"
                                :src="image" alt="">
                            </div>
                          </div>
                        </div>
                        <p>Card description.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--              <div v-if="!selectedAttrPicURL" id="fotorama" class="fotorama" data-nav="thumbs" data-loop="true" data-allowfullscreen="native">-->

              <!--                {% for image in object.PictureURL %}-->

              <!--                  <img src="{{ image }}">-->
              <!--                {% endfor %}-->
              <!--&lt;!&ndash;                <img v-for="pic_url in pictureAllURLs" :src="pic_url">&ndash;&gt;-->
              <!--              </div>-->
              <!--              <div v-else>-->
              <!--                <img v-if="countSelectedAttributes > 0" :src="selectedAttrPicURL">-->
              <!--              </div>-->
            </article> <!-- gallery-wrap .end// -->
          </aside>
          <aside class="col-sm-6">
            <article class="card-body">
              <!-- short-info-wrap -->
              <h3 class="title mb-3">[[ product_title ]]</h3>
              <div class="mb-3">
                <h5>Price:
                  <var class="price text-warning">
                    <span style="color: firebrick;"
                      v-if="countTotalAttributes && (countSelectedAttributes == countTotalAttributes)">£[[
                      priceCalculated ]]</span>
                    <span style="color: firebrick;" v-else>£{{ object.ConvertedCurrentPrice }}</span>
                    <!--  <span class="currency">Price: </span><span class="num">$[[ price ]]</span> -->
                  </var>
                </h5>
              </div>
              <div>
                <!-- attributes start -->
                <section v-cloak v-if="(errored & loading)">
                  <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
                </section>
                <section v-else>
                  <div v-if="loading">Loading...</div>
                  <div v-else class="row">
                    <ul>
                      <li v-for="(items, key, index) in attributeNameValues"> [[ key ]]
                        <select v-model="selected[key]" @change="updateAttributeImage()">
                          <option v-for="name in items">[[ name ]]</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </section>
              </div> <!-- attributes end   -->
              <div class="row">
                <div class="col-sm-5">
                  <dl class="dlist-inline">
                    <dt>Quantity: </dt>
                    <dd>
                      <select class="form-control form-control-sm" style="width:70px;">
                        {% for i in "x"|rjust:"20" %}
                        <option> {{ forloop.counter }} </option>
                        {% endfor %}
                      </select>
                    </dd>
                  </dl>
                  <!-- item-property .// -->
                </div> <!-- col.// -->
              </div> <!-- col.// -->
              <div class="row" style="margin-top:2rem;">
                <div class="col-sm-6"> <button @click="addProduct" :class="{ 'is-loading' : loading_btn }" class="btn  btn-primary"> Add to Cart </button> </div>
              </div>
              <!-- short-info-wrap .// -->
            </article> <!-- card-body.// -->
          </aside> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
      </main>
    </div> <!-- row.// -->
  </div>
  </article> <!-- card.// -->
</div> <!-- col // -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">
        <input type="radio" id="tab4" name="tab-control">
        <ul>
          <li title="Description">
            <label for="tab1" role="button">
              <svg viewBox="0 0 24 24">
                <path
                  d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
              </svg>
              <br>
              <span>Description</span>
            </label>
          </li>
          <li title="Delivery Contents" style="hidden">
            <label for="tab2" role="button">
              <svg viewBox="0 0 24 24">
                <path
                  d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
              </svg>
              <br>
              <span>Delivery Contents</span>
            </label>
          </li>
          <li title="Features">
            <label for="tab3" role="button">
              <svg viewBox="0 0 24 24">
                <path
                  d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
              </svg>
              <br>
              <span>Features</span>
            </label>
          </li>
          <li title="Features" style="hidden">
            <label for="tab4" role="button">
              <svg viewBox="0 0 24 24">
                <path
                  d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
              </svg>
              <br>
              <span>Returns</span>
            </label>
          </li>
        </ul>
        <div class="slider">
          <div class="indicator">
          </div>
        </div>
        <div class="content">
          <section>
            <h2>Description</h2>
            <span>{{ object.Description|safe }}</span>
            <span>{{ object.ConditionDescription|safe }}</span>
          </section>
          <section>
            <h2>Revies</h2>
            {% if object.reviews.0 %}
            <iframe src='{{ object.reviews.1 }}' style="max-height:1000px;width:100%; height:100%;"></iframe>
            {% endif %}
          </section>
          <section>
            <h2>Features</h2>
            <dl>
              {% for feature in object.ItemSpecifics.NameValueList %}
              <dt>
                {{ feature.Name }}: {{ feature.Value }}
              </dt>
              {% endfor %}
            </dl>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

</div><!-- container // -->
</section>
{% endblock %}

{% block script_vue %}
<!-- attributes JS start -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
  const appvar = new Vue({
    delimiters: ['[[', ']]'],
    el: '.sample',
    data: {
      selected: {},
      picSelectedURL: "",
      product_title: "",
      mainPictures: [],
      variations: [],
      variation_pictures: [],
      errored: false,
      loading: true,
      loading_btn: false,

      // productAdded: {
      //   "title": "Nike Trainers Air Maxxx",
      //   "asin": "7",
      //   "price": "99.99",
      //   "shop": {
      //     "name": "eBay UK",
      //     "website": "https://ebay.co.uk"
      //   },
      //   "attributes": [
      //     {
      //       "attribute": {
      //         "name": "color",
      //         "description": ""
      //       },
      //       "value": "black"
      //     },
      //     {
      //       "attribute": {
      //         "name": "size",
      //         "description": ""
      //       },
      //       "value": "8"
      //     }
      //   ]
      // },

      // carousel pictures related
      activeImage: 0

    },
    mounted() {
      this.defaultSettings();
      this.getProduct();
    },
    computed: {
      attributeNameValues() {
        var attributeObj = {}
        for (var i = 0; i <= this.variations.length; i++) {
          try {
            for (key in this.variations[i].attributes) {
              if (this.variations[i].attributes.hasOwnProperty(key)) {
                if (attributeObj[key]) {
                  if (attributeObj[key].indexOf(this.variations[i].attributes[key]) === -1) {
                    attributeObj[key].push(this.variations[i].attributes[key])
                  }
                } else {
                  attributeObj[key] = [];
                  attributeObj[key].push(this.variations[i].attributes[key]);
                }
              }
            }
          } catch (error) { console.log(error) }
        }
        return attributeObj
      },

      countSelectedAttributes() {
        return Object.keys(this.selected).length
      },

      countTotalAttributes() {
        return Object.keys(this.attributeNameValues).length
      },

      priceCalculated() {
        var price_selected = ""
        for (var i = 0; i <= this.variations.length; i++) {
          try {
            for (key in this.variations[i].attributes) {
              if (this.variations[i].attributes.hasOwnProperty(key)) {
                // It is assumed the order of attribute names will be the same if unexpected happens change the code where two objects are compared JSON.stringify is not good enough.
                if (JSON.stringify(this.variations[i].attributes) === JSON.stringify(this.selected)) {
                  if (this.variations[i].quantity > 0) {
                    price_selected = this.variations[i].price
                    return price_selected;
                  } else {
                    price_selected = "Out of stock"
                  }
                } else { // if multiple attributes are not in API, hence do not match, seller may not have quantity zero for all matching attributes
                  price_selected = "Out of stock"
                }
              }
            }
          } catch (error) {
            console.log(error)
          }
        }
        return price_selected
      },

      selectedAttrPicURL() {
        var pic_sel_url = "";
        this.variation_pictures.forEach((pic) => {
          for (key in this.selected) {
            if (this.selected.hasOwnProperty(key)) {
              if (pic.value == this.selected[key]) {
                pic_sel_url = pic.url[0]
              }
            }
          }
        })

        return pic_sel_url
      },

      picVariationAttributes() { // since there are too many attributes (quantity=0), only getting attributes for pictures with available product (quantity > 0)
        var attr_name = this.variation_pictures[0]["name"]
        var attr_val_list = this.attributeNameValues[attr_name]
        return attr_val_list
      },

      pictureVariationURLs() { // only picture URLs of variations
        var pic_var_url = []
        this.variation_pictures.forEach((pic) => {
          this.picVariationAttributes.forEach(val => {
            if (val == pic.value) {
              pic_var_url.push(pic.url[0]) // pulling data as single element array, hence 0 element
            }
          })
        })
        return pic_var_url
      },

      pictureAllURLs() { // combining all pictures - main and variation (variation returned separately)
        var pic_all_url = this.mainPictures.slice(0)
        this.pictureVariationURLs.forEach(pic => pic_all_url.push(pic))
        return pic_all_url
      },

      asin() {
        // change the path below if asin is not in this format: gobazar.uz/products/999999999/
        return window.location.pathname.split('/')[2]
      },

      // Carousel picture related
      currentImage() {
        return this.pictureAllURLs[this.activeImage];
      },

      productPosted() {
        attributes = []
        for (var key in this.selected) {
          if (this.selected.hasOwnProperty(key)) {
            attr = {
              attribute: {
                name: key,
                description: ""
              },
              value: this.selected[key]
            }
            attributes.push(attr)
          }
        }

        return {
          title: this.product_title,
          asin: this.asin,
          price: this.priceCalculated,
          shop: {
            name: "eBay UK",
            website: "https://ebay.co.uk"
          },
          attributes: attributes
        }
      }
    },
    methods: {
      getProduct() {
        axios
          .get("/ebay_products/api/" + this.asin)
          .then(response => {
            if (response.data.title) {
              this.product_title = response.data.title
            }
            if (response.data.main_pictures) {
              this.mainPictures = response.data.main_pictures
            }
            if (response.data.variations) {
              this.variations = response.data.variations;
            }
            if (response.data.variation_pictures) {
              this.variation_pictures = response.data.variation_pictures;
            }
          })
          .catch(error => {
            console.log(error)
            this.errored = true
          })
          .finally(() => this.loading = false)

      },
      addProduct() {
        axios
          .post("/api/ebayproduct/",
            this.productPosted
          )
          .catch(error => {
            console.log(error)
          })
      },
      // Attributes selected and picture changes

      updateAttributeImage() {
        if (this.selectedAttrPicURL) {
          this.activeImage = this.pictureAllURLs.indexOf(this.selectedAttrPicURL)
        }
      },

      // Carousel pictures related
      nextImage() {
        var active = this.activeImage + 1;
        if (active >= this.pictureAllURLs.length) {
          active = 0;
        }
        this.activateImage(active);
      },
      prevImage() {
        var active = this.activeImage - 1;
        if (active < 0) {
          active = this.pictureAllURLs.length - 1;
        }
        this.activateImage(active);
      },

      activateImage(imageIndex) {
        this.activeImage = imageIndex;
      },


      defaultSettings() {
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
      }
    }
  });
</script>

{% endblock %}
<!-- attributes JS end -->