<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue slider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">



<style>
.card-carousel {
    user-select: none;
    position: relative;
}

.progressbar {
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: rgba(221, 221, 221, 0.25);
    z-index: 1;
}

.progressbar > div {
    background-color: rgba(255, 255, 255, 0.52);
    height: 100%;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.thumbnail-image {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
}

.thumbnail-image > img {
    width: 100%;
    height: auto;
    transition: all 250ms;
}

.thumbnail-image:hover > img,
.thumbnail-image.active > img {
    opacity: 0.6;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0, 0.5);
}

.card-img {
    position: relative;
    margin-bottom: 15px;
}

.card-img > img {
    display: block;
    margin: 0 auto;
}

.actions {
    font-size: 1.5em;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #585858;
}

.actions > span {
    cursor: pointer;
    transition: all 250ms;
}

.actions > span.prev {
    margin-left: 5px;
}

.actions > span.next {
    margin-right: 5px;
}

.actions > span:hover {
    color: #eee;
}
  
</style>

</head>
<body>

  <section class="section" id="app">
      <div class="columns">
          <div class="column is-4">
              <div class="card">
                  <div class="card-content">
                      <div class="card-carousel">
                          <div class="card-img">
                              <img style="width:300px; max-height:400px; width:auto; height:auto; display:block;" :src="currentImage" alt="">
                              <div class="actions">
                                <span @click="prevImage" class="prev">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                  <span @click="nextImage" class="next">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                              </div>
                          </div>
                          <div class="thumbnails">
                              <div
                                      v-for="(image, index) in images"
                                      :key="image.id"
                                      :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
                                      @click="activateImage(index)"
                              >
                                  <img style="width:100px; max-height:133px; width:auto; height:auto; display:block;" :src="image.url" alt="">
                              </div>
                          </div>
                      </div>
                      <p>Card description.</p>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <select v-model="activeImage" @change="activateImage(activeImage)">
              <option v-for="(image, index) in images">[[ index ]]</option>
          </select>
      </div>
  </section>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
      // Vue.config.devtools = true;
      var app = new Vue({
          delimiters: ['[[',']]'],
          el: '#app',
          data() {
              return {
                  images: [
                      {
                          id: '1',
                          url: 'https://i.ebayimg.com/images/g/o80AAOSwmU1cnt-l/s-l1600.jpg',
                          big: 'images/p1.jpeg',
                          thumb: 'images/thumbs/p1.jpeg'
                      },
                      {
                          id: '2',
                          url: 'https://i.ebayimg.com/images/g/NfgAAOSwvQdc0sx~/s-l1600.jpg',
                          big: 'images/p2.jpeg',
                          thumb: 'images/thumbs/p2.jpeg'
                      },
                      {
                          id: '3',
                          url: 'https://i.ebayimg.com/images/g/8RwAAOSwwP1cwwtj/s-l1600.jpg',
                          big: 'images/p3.jpeg',
                          thumb: 'images/thumbs/p3.jpeg'
                      }
                  ],
                  activeImage: 0
              }
          },
          computed: {
              currentImage() {
                  return this.images[this.activeImage].url;
              }
          },
          methods: {
              nextImage() {
                  var active = this.activeImage + 1;
                  if(active >= this.images.length) {
                      active = 0;
                  }
                  this.activateImage(active);
              },
              prevImage() {
                  var active = this.activeImage - 1;
                  if(active < 0) {
                      active = this.images.length - 1;
                  }
                  this.activateImage(active);
              },
              activateImage(imageIndex) {
                  this.activeImage = imageIndex;
              }
          }
      });
  </script>

</body>
</html>