{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Base Template</title>
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
    </head>
    <body style="background: linear-gradient(180deg,#f0f8ff,#fefefe)">
    <div id="page" style="max-width: 1366px; min-width: 380px; margin:0 auto; padding: 0;">
        {% include 'base/navbar.html' with brand_name='GoBazar' %}
        <div class="container">
      {% if messages %} <!-- mixin form saved successfully marketing.views.MarketingPreferenceUpdateView.successmessage -->
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
          {% block content %} {% endblock %}
        </div>
        {% include 'base/js.html' %}
        {% include 'base/footer.html' %}
        {% block script_vue %} {% endblock %}
        </div>
    </body>
</html>
