{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y-sm">
<div class="container">
<div class="card">
  <div class="card-body">
<div class="row row-sm">
  <aside class="col-md-3">
<h5 class="text-uppercase">My Markets</h5>
  <ul class="menu-category">
    <li> <a href="#">Food &amp Beverage </a></li>
    <li> <a href="#">Home Equipments </a></li>
    <li> <a href="#">Machinery Items </a></li>
    <li> <a href="#">Toys & Hobbies  </a></li>
    <li> <a href="#">Consumer Electronics  </a></li>
    <li> <a href="#">Beauty & Personal Care  </a></li>
    <li class="has-submenu"> <a href="#">More category  <i class="icon-arrow-right pull-right"></i></a>
      <ul class="submenu">
        <li> <a href="#">Food &amp Beverage </a></li>
        <li> <a href="#">Home Equipments </a></li>
        <li> <a href="#">Machinery Items </a></li>
        <li> <a href="#">Toys & Hobbies  </a></li>
        <li> <a href="#">Consumer Electronics  </a></li>
        <li> <a href="#">Home & Garden  </a></li>
        <li> <a href="#">Beauty & Personal Care  </a></li>
      </ul>
    </li>
  </ul>
  </aside> <!-- col.// -->
  <div class="col-md-6">
<!-- ================= main slide ================= -->
<div class="owl-init slider-main owl-carousel" data-items="1" data-nav="true" data-dots="false">
  <div class="item-slide">
    <img src="{% static './css/btsp_ecom/images/banners/slide1.jpg' %}">
  </div>
  <div class="item-slide">
    <img src="{% static './css/btsp_ecom/images/banners/slide2.jpg' %}">
  </div>
  <div class="item-slide">
    <img src="{% static './css/btsp_ecom/images/banners/slide3.jpg' %}">
  </div>
</div>

<!-- ============== main slidesow .end // ============= -->

  </div> <!-- col.// -->
  <aside class="col-md-3">

<h6 class="title-bg bg-secondary">Qualified Suppliers</h6>
<div style="height:280px;">
  <figure class="itemside has-bg border-bottom" style="height: 33%;">
    <img class="img-bg" src="{% static './css/btsp_ecom/images/items/item-sm.png' %}">
    <figcaption class="p-2">
      <h6 class="title">One request, many offers </h6>
      <a href="#">Good link</a>
    </figcaption>
  </figure>

  <figure class="itemside has-bg border-bottom" style="height: 33%;">
    <img class="img-bg" src="{% static './css/btsp_ecom/images/items/1.jpg' %}" height="80">
    <figcaption class="p-2">
      <h6 class="title">One request, many offers </h6>
      <a href="#">Good link</a>
    </figcaption>
  </figure>
  <figure class="itemside has-bg border-bottom" style="height: 33%;">
    <img class="img-bg" src="{% static './css/btsp_ecom/images/items/2.jpg' %}" height="80">
    <figcaption class="p-2">
      <h6 class="title">One request, many offers </h6>
      <a href="#">Good link</a>
    </figcaption>
  </figure>
</div>

  </aside>
</div> <!-- row.// -->
  </div> <!-- card-body .// -->
</div> <!-- card.// -->

<figure class="mt-3 banner p-3 bg-secondary">
  <div class="text-lg text-center white">Useful banner can be here</div>
</figure>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
{% include 'ebay_products/snippets/category_home.html' with object_list=category_computers  category_name='COMPUTERS' %}

{% include 'ebay_products/snippets/category_home.html' with object_list=category_health  category_name='HEALTH AND CARE' %}

{% include 'ebay_products/snippets/category_home.html' with object_list=category_baby  category_name='BABY' %}

<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION RECOMMENDED ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
<div class="container">
<header class="section-heading heading-line">
  <h4 class="title-section bg text-uppercase">Recommended items</h4>
</header>

<div class="row-sm">
{% for cat_prod in category_recommended %}
{% url 'ebay_products:detail' cat_prod.itemId as product_url %}
<div class="col-md-2">
  <figure class="card card-product">
    <div class="img-wrap"> 
    <img src="{{ cat_prod.galleryURL }}"></div>
    <figcaption class="info-wrap">
      <h6 class="title "><a href="{{ product_url }}">{{ cat_prod.title|truncatewords:20 }}</a></h6>
      
      <div class="price-wrap">
        <span class="price-new">£{{ cat_prod.sellingStatus.convertedCurrentPrice }}</span>
        <del class="price-old">$1980</del>
      </div> <!-- price-wrap.// -->
      
    </figcaption>
  </figure> 
</div> 
{% endfor %}

</div> 


</div><!-- container // -->
</section>
<!-- ========================= SECTION RECOMMENDED END// ========================= -->

{% endblock %}