{% url 'amazon_products:detail' instance.asin as product_url %}

    <div class="col-sm-12 offset-lg-2 col-md-4 col-lg-2">
        {% if instance.medium_image_url %}
        <a href="{{ product_url }}">
            <img class="card-img-top" src="{{ instance.large_image_url }}" style="max-width:200px;width:auto;height:auto;" alt="{{ instance.title }} logo">
        </a>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
        <a href="{{ product_url }}">
            <h4>{{ instance.title|truncatewords:30 }}</h4>
        </a>
        {% if instance.brand %}
        <p>by {{ instance.brand }}</p>
        {% endif %}
        <h6 style="color: firebrick;">{{ instance.formatted_price }}</h6>
    </div>
    <div class='offset-lg-2 col-sm-12 align-self-center'><hr style="height:1px;"></div>





<!-- <div class="card" style="width: 18rem;">
  {% if instance.medium_image_url %}
  <a href="{{ product_url }}">
      <img class="card-img-top" src="{{ instance.large_image_url }}" alt="{{ instance.title }} logo">
  </a>
  {% endif %}
  <div class="card-body">
    <a href="{{ product_url }}">
        <h5 class="card-title">{{ instance.title|truncatewords:30 }}</h5>
    </a>
      <p class="card-text">{{ instance.formatted_price }}</p>
  </div>
</div> -->
