  <form method="POST" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
	  {% if next_url %}
	  <input type='hidden' name='next' value='{{ next_url }}' />
	  {% endif %}
    {{ form }}
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
    <!-- <h1>Login</h1>
  <form method="POST"> {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->