{% extends 'base.html' %}

{% block content %}

<!-- Stripe Form -->


<div class='col-10 col-md-6 mx-auto'>
	<h1>Add Payment Method</h1>

<div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add New Card'></div>

<!-- Most of JS logic happens in js/shoppy.main.js and js_templates.html -->

</div>

{% endblock %}