{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  {{ object.get_attribute }}
 <div class="col-md-6">

   <div class="fotorama" data-width="900" data-ratio="700/467" data-max-width="100%" nav="thumbs">
     {% for image in object.images %}
         <img src="{{ image.LargeImage.URL }}">
     {% endfor %}
   </div>
 </div>

 <div class="col-md-6">
       <div class="row">
         <div class="col-md-12">
            <h3>{{ object.title }}</h3>
            <hr style="height:1px;">
        </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h5> Price: <span style="color: firebrick;">{{object.formatted_price}}</span></h5>
         </div>
      </div>

  <div class="row mt-3">
      <div class="col-md-6">
          <span>Quantity:</span>
          <select>
              {% for i in "x"|rjust:"20" %}
                  <option>{{ forloop.counter }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-6">
          <button class="btn btn-lg btn-primary btn-full-width">Add to Cart</button>
      </div>
      </div><!-- end row -->

  <div class="row">
   <div class="col-md-4 text-xs-center">
    <h5 class="text-success">In Stock</h5>
   </div>
  </div>

  <div class="row">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#features" role="tab" aria-controls="profile" aria-selected="false">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
    </li>
  </ul>
</div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
        <span>{{ object.editorial_review|safe }}</span>
    </div>
    <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="profile-tab">
        {% if object.features|length > 1 %}
            <ul>
              {% for feature in object.features %}
              <li>
                {{ feature }}
              </li>
              {% endfor %}
            </ul>
        {% else %}
        <p> {{ object.features.0 }}</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab">
        {% if object.reviews.0 %}
        <iframe src='{{ object.reviews.1 }}' style="max-height:1000px;width:100%; height:100%;"></iframe>
        {% endif %}
    </div>
  </div>
</div>
</div>






<!--
  <div class='row'>
        <div class='col-12'>
            <h2>{{ object.title }}</h1>
            <h3>{{ object.formatted_price }}</h3>
            <img class="card-img-top" src="{{ object.large_image_url }}" alt="{{ object.title }} logo" style="max-width:500px; max-height:500px; width:auto; height:auto;">
            <br/>

            {% for image in object.images %}
                {{ image.LargeImage.URL }} <br />
            {% endfor %}

            {% if object.features|length > 1 %}
                <ul>
                  {% for feature in object.features %}
                  <li>
                    {{ feature }}
                  </li>
                  {% endfor %}
                </ul>
            {% else %}
            <p> {{ object.features.0 }}</p>
            {% endif %}
            {% if object.reviews.0 %}
            <iframe src='{{ object.reviews.1 }}' style="width:100%; height:100%;"></iframe>
            {% endif %}
        </div>

</div> -->


{% endblock %}
