{% extends 'base.html' %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static "css/images.css" %}"  >
<script src="{% static "js/images.js" %}"></script>
{% endblock %}

{% block content %}
<div class='row align-items-center'>
  {% for obj in object_list %}
    <!-- <div class='col'> -->
      <!-- {{ forloop.counter }} -->
      {% include 'amazon_products/snippets/card.html' with instance=obj %}
    <!-- </div> -->
  {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
