{% extends "base.html" %}


{% block content %}

{% load widget_tweaks %}
{% url 'register' as register_url %}

<div class="row" style="margin-top: 5em; margin-bottom: 5em;">
  <div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="card">
		<article class="card-body">
			<h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
			<hr>
			<form method="POST"> {% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				 
				{% if form.errors %}
				<div class="alert alert-danger" role="alert"> 
					<ul class="errorlist">
						{% for field, errors in form.errors.items %}
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				{% for field in form.visible_fields %}
				<div class="form-group">
					<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa {% if field.label == 'Email' %} fa-user {% else %} fa-lock {% endif %} "></i></span>
					</div>
						{% render_field field class="form-control" placeholder=field.label type=field.label %}
					</div>
				</div>
				{% endfor %}

				<div class="form-group">
						<button type="submit" class="btn btn-warning btn-block">Login</button>
				</div>
				<div class="form-group">
					<p class="text-center"><a href="#" class="btn btn-default">Forgot password?</a></p>
				</div>
				<div class="form-group">
						<div class="hr-sect">New to GoBazar?</div>
						<a type="submit" href="{{ register_url }}" class="btn btn-light btn-block">Create your GoBazar account</a>
				</div>
			</form>
		</article>
		</div>
	</div>
</div>

{% endblock %}