{% extends "base.html" %}

{% block content %}

{% load widget_tweaks %}

<div class="row" style="margin-top: 5em; margin-bottom: 5em;">
  <div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="card">
		<article class="card-body">
			<h4 class="card-title text-center mb-4 mt-1">Registration</h4>
			<hr>
			<form method="POST">{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				 
				{% if form.errors %}
				<div class="alert alert-danger" role="alert"> 
					<ul class="errorlist">
						{% for field, errors in form.errors.items %}
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				{% for field in form.visible_fields %}
				<div class="form-group">
					<div class="input-group">
					<div class="input-group-prepend">
							<!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
						<span class="input-group-text"> <i class="fa {% if field.label == 'Full name' or field.label == 'Email' %} fa-user {% else %} fa-lock {% endif %} "></i></span>
					</div>
					{% if 'name' in field.label %}
						{% render_field field class="form-control" placeholder=field.label type='text' %}
					{% elif 'Email' in field.label %}
						{% render_field field class="form-control" placeholder=field.label type='email' %}
					{% elif 'Password' in field.label%}
						{% render_field field class="form-control" placeholder=field.label type='password' %}
					{% else %}
					    {% render_field field class="form-control" placeholder=field.label type='text' %}
					{% endif %}
					</div>
				</div>
				{% endfor %}



			<!-- <div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input name="" class="form-control" placeholder="Full name" type="email">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="******" type="password">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="Password Confirmation" type="password">
				</div>
			</div> -->
			<div class="form-group">
				<button type="submit" class="btn btn-warning btn-block">Sign up</button>
			</div>
			</form>
		</article>
		</div>
	</div>
</div>
{% endblock %}
