{% extends "base.html" %}

{% block content %}

<!-- <div class='container m-4'>
  <div class='row'>
    <div class='col'>
      <div class="col-md-6 col-12 mx-auto">
        <div class="card bg-white">
          <div class="card-body">
            <div class="card-header">
              <h1 class="card-title">{{ title }}</h1>
              <p class="text-center">{{ content }}</p>
            </div>
            <div class="form-group">
               <form class="contact-form" method="POST" action='{% url "contact" %}'> 
                  {% csrf_token %}
                    {{ form.as_p }}
                  <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            </div>
          </div>
        </div> -->
       <!-- <form method="POST"> {% csrf_token %}
        <input type="text" class="form-control" placeholder="Name" name="fullname" />
        <input type="email" class="form-control" placeholder="Email" name="email" />
        <textarea name="content" class="form-control" placeholder="Your content"></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
   <!--    </div>
    </div>
  </div>
</div> -->
<div class="row" style="margin-top: 5em; margin-bottom: 5em;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
    <article class="card-body">
      <h1 class="card-title text-center mb-4 mt-1">{{ title }}</h1>
      <hr>
      <form method="POST">
       {% csrf_token %}
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="" class="form-control" placeholder="Full name" type="name">
      </div> <!-- input-group.// -->
      </div> <!-- form-group// -->
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
         </div>
          <input class="form-control" placeholder="Your Email" type="email">
      </div> <!-- input-group.// -->
      </div>
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-smile"></i> </span>
         </div>
          <input class="form-control" placeholder="Subject" type="text">
      </div> <!-- input-group.// -->
      </div>  <!-- form-group// -->
      <div class="input-group">
        
          <textarea class="form-control" cols="20" rows="5" placeholder="Content" type="text"></textarea> 
      </div> <!-- input-group.// -->
       <!-- form-group// -->
      <div class="form-group d-flex justify-content-center align-items-center mt-3">
       <button type="submit" class="btn btn-warning">Send</button>
       <!-- <p class="text-center"><a href="#" class="btn btn-default">Forgot password?</a></p> -->
      </div>
      </div>  <!-- form-group// -->
      </form>
    </article>
    </div> <!-- card.// -->
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
