{% load widget_tweaks %}

	<form class="form-hotizontal" method="POST" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
	  {% if next_url %}
	  <input type='hidden' name='next' value='{{ next_url }}' />
	  {% endif %}
	  
	  {% if address_type %}
	  <input type='hidden' name='address_type' value='{{ address_type }}'>
		{% endif %}
		
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	
	{% for field in form.visible_fields %}
		<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field|add_class:"form-control" }}
			{% for error in field.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}
		</div>
	{% endfor %}

    <!-- {{ form.as_p }} -->
    <button type="submit" class="btn btn-default">Submit</button>
  </form>