{% extends 'base.html' %}
{% block content %}
  <div class="row mb-3">
    {% if query %}
      <div class="col-12">
        Results for <b>{{ query }}</b>
        <hr/>
      </div>
    </div>
  {% else %}
    <div class="col-12 col-md-6 mx-auto py-5">
      {% include 'search/snippets/search-form.html'%}
    </div>
    <div class="col-12">
      <hr />
    </div>
  {% endif %}
  <div class='row'>
    {% for obj in object_list %}
      <div class='col'>
        {% include 'products_old/snippets/card.html' with instance=obj %}
        <!-- {% cycle '<h1>Hello world</h1>' '' '' %} -->
        {% if forloop.counter|divisibleby:3 %}
          </div> </div> <div class='row'><div class='col-12'><hr/></div>
          {% elif forloop.counter|divisibleby:2 %}
        </div>
        </div> 
        <div class='row'>
        <div class='col-12'>
             <hr/>
        </div>
      {% else %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
